There is no caching a POST, except for the GETtable result of a POST. 

"Responses to POST requests are only cacheable when they include explicit freshness information (see Section 4.2.1 of [RFC7234]). However, POST caching is not widely implemented."

So yes, there could be caching if the server opts in.

No.

    For cases where an origin server wishes the client to be able to cache the result of a POST in a way that can be reused by a later GET, the origin server MAY send a 200 (OK) response containing the result and a Content-Location header field that has the same value as the POST's effective request URI (Section 3.1.4.2).

*That* defines POST caching; you could define an cache extension to do what you want, but the default semantics of POST are only defined to cache in the manner described above.

Note especially:

    A cache MUST write through requests with methods that are unsafe (Section 4.2.1 of [RFC7231]) to the origin server; i.e., a cache is not allowed to generate a reply to such a request before having forwarded the request and having received a corresponding response.

Well, in that case the description of POST is misleading, as it clearly special-cases the "GET-after-POST" variant; thus Part 1 and Part 5 disagree.

Other than that, this leaves the question open for safe methods other than GET that include a request body (like it or not).

At the risk of being accused of playing a lawyer again, "cache the result of a POST in a way that can be reused by a later GET" does not define the only possible POST response caching mechanism. It just defines POST response caching in a way that can be reused by a later GET. It does not define POST response caching in a way that can be reused by a later PROPFIND2 (for example).

Moreover, I do not understand why this issue is scoped to be focusing on (or driven by) POST response caching. POST [special casing] only muddies the waters. The original question, the discussion, and the alleged spec problem had little to do with POST IIRC.

I agree that there are multiple mostly independant issues here:

- an inconsistency between P2 (POST) and P5
- P5 doesn't state whether the request body of a safe method that is somehow cacheable implicitly becomes part of the cache key (and related to that, whether the answer to that is different for GET)