> Is a TE header on a bodyless response permissible?

https://tools.ietf.org/html/rfc7230#section-3.3.1
> A server MUST NOT send a Transfer-Encoding header field in any
> response with a status code of 1xx (Informational) or 204 (No
> Content).  A server MUST NOT send a Transfer-Encoding header field in
> any 2xx (Successful) response to a CONNECT request (Section 4.3.6 of
> [RFC7231]).

This doesn't mention 304 (surprisingly) but does explicitly state that TE is forbidden on 1xx and 204.

OK, perhaps it's just an oversight that 304 responses and HEAD requests are not included in that section too?

<https://www.greenbytes.de/tech/webdav/rfc7230.html#rfc.section.3.3.1.p.5>:

> Transfer-Encoding MAY be sent in a response to a HEAD request or in a 304 (Not Modified) response (Section 4.1 of [RFC7232]) to a GET request, neither of which includes a message body, to indicate that the origin server would have applied a transfer coding to the message body if the request had been an unconditional GET. This indication is not required, however, because any recipient on the response chain (including the origin server) can remove transfer codings when they are not needed.